body {
    
  width: 960px;
  margin: auto;
  background: url("https://picsum.photos/1920/1080/?random");
  opacity: 100%;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
}

.header {

  padding: auto;
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  width: 940px;
  text-align: center;
  background: rgb(255, 255, 255); 
  background: rgba(233, 230, 70, 0.63);
  height: 160px;
  border: 10px solid black;
  font-size: 30px;
  border-radius: 20px; 
 
}

.header:hover{
animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; 
}

.linkit {

  
  display: inline-block;
  vertical-align: top;
  margin-top:1px;
  width: 940px;
  text-align: center;
  background: rgb(0, 0, 0); 
  background: rgba(161, 209, 241, 0.63);
  height: 35px;
  border: 10px solid black;
  font-size: 30px;
  border-radius: 20px;
}


.linkit li {
  display: inline-table;
  float: left;
}

.linkit a:link, #linkit a:visited {

display: block;
text-decoration: none;
text-transform: uppercase;
text-align: center;
color:#000000;
line-height: 30px;
width: 229px;
border: 3px solid black;
box-shadow: 4px 4px 4px #fff;
background-color: #e5e39a;
}

.linkit a:hover {
  background-color: rgb(0, 0, 0);
  transform: rotate(-5deg);
  transition: 1s;
  border-radius: 20px;

  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s; 
  
}

.header a:hover{
 
color:rgb(255, 234, 0);

}


a {

color: #000000;
text-decoration: none;
} 

a:hover {
  color:rgba(233, 230, 70, 0.63);
  text-decoration:none; 
  cursor:pointer;  
}


.zoom-box {
 
  transition: transform .9s; /* Animation */
  cursor:pointer; 
  
  
}

.zoom-box:hover {
  transform: scale(1.6);
}



/*Ostoskori alkaa*/

.OstoskoriKentta {
  
  margin-top: 15px;
  width: 960px;
  height: 1531px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #00000033;
  border: 3px solid black;
    
}

.OstoksetOtsikko{

  margin: auto;
  width: 955px;
  height: 70px;
  border: 3px solid black;
  border-radius: 20px;
  text-decoration: underline;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: #2F3841;
  text-align: center;
    
  
    
}



.tyhjenna{

  margin-top: 10px;
  height: 70px;
  width: 960px;
  text-align:center;
  border: 3px solid black;
  border-width: 5px ;
  border-radius: 200px;
  background-color: rgb(255, 0, 0);
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  color: #202020;
  cursor: pointer;

}

.PoistaTuotteet{

    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
    
}


.cart {
 
  overflow-y: auto;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
  }
  /* cart header */
  .OstoskoriToinenOtsikko {
    
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    border: 3px solid black;
    border-width: 6px ;
    
}

/* Ostoskorin tuotteet */
.item{

  margin-top: 10px;
  width: 940px;
  height: 170px;
  display:flex;
 
  align-items: center;
  border: 3px solid black;
  border-width: 10px ;
  border-radius: 20px;

}

.kuvat{
  width: 15%;
  text-align: center;
 
}
 .about{
  height: 100%;
  margin-right: 10px;
}
 .title{
  padding-top: 5px;
  font-size: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  color: #202020;
 
}
 .subtitle{
  width: 180px;
  line-height: 10px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: #909090;
  margin-right: 100px;
}

/*Napit*/

.btn{

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  color: #202020;
  cursor: pointer;
  
  
}

.btn:hover {

  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; 

}

.units{

  font-size: 30px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  color: #202020;
}

/*Hinnat*/
.hinnat{
  

  margin-top: 10px;
  height: 50px;
  width: 100px;
  text-align: center;
  border: 3px solid black;
  border-width: 6px ;
  border-radius: 20px;
  background-color: lightblue;
  margin-bottom: 10px;
  font-size: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  color: #202020;
  margin-right: 200px;
}

.poista {
  margin-top: 10px;
  height: 40px;
  width: 120px;
  text-align:center;
  border: 3px solid black;
  border-width: 7px ;
  border-radius: 200px;
  background-color: rgb(255, 0, 0);
  margin-bottom: 10px;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  color: #202020;
  margin-left: 30px;
  cursor: pointer;

  

}

.poista:hover{
  /*Animaatiot*/
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s; 
}

.cart-footer{
  margin-top: 10px;
  height: 150px;
  width: 900px;
  text-align:center;
  border: 3px solid black;
  border-width: 7px ;
  border-radius: 200px;
  background-color: lightblue;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  color: #202020;
  margin-left: 30px;
  
}

/*Maksuvahvistus lomake*/
.maksa{
  margin-top: 10px;
  margin-left: 300px;
  height: 60px;
  width: 300px;
  text-align:center;
  border: 3px solid black;
  border-width: 7px ;
  border-radius: 200px;
  background-color: rgb(0, 255, 0);
  
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  color: #202020;
  
  cursor: pointer;



}
.maksa:hover{

  /*Animaatiot*/
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s; 
}

.overlay {

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 300ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 1000px;
  height: 670px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 100%;
  overflow: auto;
}

@media screen and (max-width: 960px){
  .box{
    width: 100%;
  }
  .popup{
    width: 100%;
  }
}


/*Maksun lähetys form*/

.TekstiSisalto{
  margin-left: 2px;
  margin-top: 15px;
  width: 950px;
  height: 600px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #00000033;
  border: 3px solid black;
  color: #000000;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

input[type=text] {
  
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*Oma nimi alareunaan*/
#footer{

  background: rgb(255, 255, 255); 
  background: rgba(159, 180, 219, 0.5);
  height: 40px;
  font-size: 30px;
  min-height: auto;
  overflow: auto;
  text-align: center;
  margin-top: 30px;
  border: 8px solid black;
  width: 944px;
  
}