body {
    
    width: 960px;
    margin: auto;
    background: url("https://picsum.photos/1920/1080/?random");
    opacity: 100%;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
}

.header {

    padding: auto;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    width: 940px;
    text-align: center;
    background: rgb(255, 255, 255); 
    background: rgba(233, 230, 70, 0.63);
    height: 160px;
    border: 10px solid black;
    font-size: 30px;
    border-radius: 20px; 
   
}

.header:hover{
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; 
}

.linkit {

    
    display: inline-block;
    vertical-align: top;
    margin-top:1px;
    width: 940px;
    text-align: center;
    background: rgb(0, 0, 0); 
    background: rgba(161, 209, 241, 0.63);
    height: 35px;
    border: 10px solid black;
    font-size: 30px;
    border-radius: 20px;
}


.linkit li {
    display: inline-table;
    float: left;
}

.linkit a:link, #linkit a:visited {

  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color:#000000;
  line-height: 30px;
  width: 229px;
  border: 3px solid black;
  box-shadow: 4px 4px 4px #fff;
  background-color: #e5e39a;
}

.linkit a:hover {
    background-color: rgb(0, 0, 0);
    transform: rotate(-5deg);
    transition: 1s;
    border-radius: 20px;

    animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s; 
    
}

.header a:hover{
   
  color:rgb(255, 234, 0);

}


a {
  
  color: #000000;
  text-decoration: none;
} 

a:hover {
    color:rgba(233, 230, 70, 0.63);
    text-decoration:none; 
    cursor:pointer;  
}


.zoom-box {
   
    transition: transform .9s; /* Animation */
    cursor:pointer; 
    
    
}

.zoom-box:hover {
    transform: scale(1.6);
}


/*Tuotteet alkaa*/

#TuotteetKentta {

    margin-top: 15px;
    width: 960px;
    height: 1080px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #00000033;
    border: 3px solid black;
}

.TuotteetOtsikko{
    
    margin: auto;
    width: 955px;
    height: 70px;
    border: 3px solid black;
    border-radius: 20px;
    text-decoration: underline;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #2F3841;
    text-align: center;
}

/*Ostoskori alkaa*/

.item{

    margin-top: 10px;
    width: 940px;
    height: 170px;
    display:flex;
    align-items: center;
    border: 3px solid black;
    border-width: 10px ;
    border-radius: 20px;
}

.kuvat{
    width: 15%;
    text-align: center;
    margin-right: 10%
}
.about{

    height: 100%;
    margin-right: 10%
}
.title{
    padding-top: 5px;
    line-height: px;
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: #202020;
    margin-right: 10px;
}
.subtitle{

    width: 180px;
    line-height: 10px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #909090;
    margin-right: 100px;
}

/*Napit*/

.counter{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}
#numerolaatikko{

    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    color: #202020;
}

/*Hinnat*/
.hinnat{

    height: 50px;
    width: 100px;
    text-align: center;
    border: 3px solid black;
    border-width: 6px ;
    margin-bottom: 10px;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: #202020;
    margin-right: 100px;
}

.lisaaOstoskoriin{
    
    
    height: 40px;
    padding-top: 5px;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #000000;
    cursor: pointer;
    border: 3px solid black;
    border-width: 6px ;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
    color: white;
}

.lisaaOstoskoriin:hover{

    /*animaatiot*/
    animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 10s; 
}

#footer{

    background: rgb(255, 255, 255); 
    background: rgba(159, 180, 219, 0.5);
    height: 40px;
    font-size: 30px;
    min-height: auto;
    overflow: auto;
    text-align: center;
    margin-top: 30px;
    border: 8px solid black;
    width: 944px;
}